* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(#fff, #c1e08e);
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  html, body {
    display: block;
  }
}

.calculator {
  display: block;
  max-width: 393px;
  width: 100%;
  padding: 30px 20px 40px;
  background: linear-gradient(180deg, rgba(61, 73, 83, 1) 0%, rgba(26, 26, 26, 1) 100%);
  border-radius: 20px;
  position: relative;
 
}

 @media (max-width: 768px) {
  .calculator {
    max-width: 500px;
    width: 100%;
    height: 100dvh;
    border-radius: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
  }

}


.text-wrapper-3 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  text-align: right;
  margin-bottom: 20px;
  height: 10px;
  @media (max-width:768px) {
    margin-top: auto;
    margin-bottom: 0px;
  }
 
}

.text-wrapper-4 {
  color: #ffffff;
  font-size: 70px;
  font-weight: 600;
  text-align: right;
  margin-bottom: 10px;
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none;
  @media (max-width:768px) {
    margin-top: auto;
    margin-bottom: 50px;  
  }
}
.text-wrapper-4.rtl-mode{
  direction: rtl;
}



.grid-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  @media (max-width:768px) {
    max-width: 100%;
    margin-bottom: 20px;
     gap: 20px;
     box-sizing: border-box;
  }
  
}
  



.overlap-group-wrapper {
  background: linear-gradient(180deg, rgba(61, 73, 83, 0.58), rgba(26, 26, 26, 0.58));
  border-radius: 15px;
  box-shadow: inset 0px 1px 0px #ffffffbf, 0px 2px 0px #adb5bd33;
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
 
}

.overlap-group-2 {
  background: linear-gradient(180deg, rgba(233, 236, 239, 1), rgba(61, 73, 83, 1));
  border: 1px solid #adb5bd33;
  border-radius: 15px;
  box-shadow: inset 1px 4px 6px 1px #00000061;
  height: 62px;
  width: 62px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.rounded-rectangle-2 {
  background: linear-gradient(1deg, rgba(233, 236, 239, 0.87), rgba(33, 37, 41, 0.87));
  border: 1px solid #adb5bd17;
  border-radius: 100px;
  box-shadow: 1px 4px 6px 1px #00000061;
  height: 45px;
  width: 45px;
  position: absolute;
}

.text-wrapper {
  color: #fffffffc;
  font-size: 20px;
  font-weight: 600;
  text-shadow: 1px 4px 4px #00000075;
  z-index: 1;
}

.button-span-2-rows {
  grid-row: span 2;
  height: 155px;
  /* Or 70*2 + gap */
}

.button-span-2-rows .overlap-group-2 {
  height: 90%;
}

.button-span-2-rows .rounded-rectangle-2 {
  height: 75%;
}